div.form {
    margin: 0 auto;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 120px;
    font-size: 1.2em;
    font-family:Tahoma, Geneva, sans-serif;
}

.form h2{
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 4px;    
    margin: 25px 0;
    border:0;
}
.form h2:first-child {
    border-bottom: dotted 2px rgba(5,5,5,.5);
}

.form label {
    margin-bottom: 25px;    
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: right;
    margin-right: 20px;
    margin-top: 5px;
    font-weight: bold;
}
.form textarea {
    padding: 10px;
    width: 786px;
    max-width: 786px;
    height: 267px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(0,0,0);
    color: rgba(0,0,255,1);
    height: 573px;
}
.form input[type="radio"] {
    display: inline-block;
    padding-right: 5px;
}
.form input[type='text'] {
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 100%;
    background-color: white;
}

.form input[type="submit"] {
    margin-left: 220px;
    padding: 10px 25px;
    font-size: 1em;
    color: black;
    background: rgb(0,102,153);
    background: linear-gradient(to bottom, rgba(5,5,5,.1) 40%, rgba(255,255,255,.5));
    background: -webkit-linear-gradient(to bottom, rgba(55,55,55,.1) 40%, rgba(255,255,255,.5));
    border-radius: 5px;
    box-shadow: 0 0 4px white;
}